# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [2]:
import numpy as np

2. Create a null vector of size 10

In [44]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

3. Create a vector with values ranging from 10 to 49

In [6]:
vec1 = np.arange(10,50)
vec1

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

4. Find the shape of previous array in question 3

In [7]:
np.shape(vec1)

(40,)

5. Print the type of the previous array in question 3

In [10]:
vec1.dtype

dtype('int64')

6. Print the numpy version and the configuration

In [17]:
print(np.__version__)
print(np.show_config())

1.19.2
blas_mkl_info:
    libraries = ['mkl_rt', 'pthread']
    library_dirs = ['/home/salemo/anaconda3/lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['/home/salemo/anaconda3/include']
blas_opt_info:
    libraries = ['mkl_rt', 'pthread']
    library_dirs = ['/home/salemo/anaconda3/lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['/home/salemo/anaconda3/include']
lapack_mkl_info:
    libraries = ['mkl_rt', 'pthread']
    library_dirs = ['/home/salemo/anaconda3/lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['/home/salemo/anaconda3/include']
lapack_opt_info:
    libraries = ['mkl_rt', 'pthread']
    library_dirs = ['/home/salemo/anaconda3/lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['/home/salemo/anaconda3/include']
None

7. Print the dimension of the array in question 3

In [18]:
vec1.ndim

1

8. Create a boolean array with all the True values

In [21]:
bol_vec = np.array(vec1>0)
bol_vec

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

9. Create a two dimensional array

In [27]:
vec2d = np.array([[0,1,2,3],[4,5,6,7]])
vec2d

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

10. Create a three dimensional array

In [28]:
vec3d = np.array([[[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]]])
vec3d

array([[[ 1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10],
        [11, 12, 13, 14, 15]]])

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [31]:
vec_notFliped = np.arange(1,6)
print(vec_notFliped)
vec_fliped = np.flip(vec_notFliped)
print(vec_fliped)

[1 2 3 4 5]
[5 4 3 2 1]

12. Create a null vector of size 10 but the fifth value which is 1

In [43]:
vec_null = np.zeros(10)
vec_null[5] = 1
vec_null

array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0.])

13. Create a 3x3 identity matrix

In [49]:
arr3 = np.arange(9).reshape(3,3)
arr3

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [53]:
arr = np.array([1,2,3,4,5],dtype=float)
arr

array([1., 2., 3., 4., 5.])

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [55]:
arr1 = np.array([[1., 2., 3.],[4., 5., 6.]])
arr2 = np.array([[0., 4., 1.],[7., 2., 12.]])
arr1*arr2

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [56]:
arr1 = np.array([[1., 2., 3.],[4., 5., 6.]])
arr2 = np.array([[0., 4., 1.],[7., 2., 12.]])
arr1==arr2

array([[False, False, False],
       [False, False, False]])

17. Extract all odd numbers from arr with values(0-9)

In [62]:
arr = np.arange(10)
arr_odd = arr[1:10:2]
arr_odd

array([1, 3, 5, 7, 9])

18. Replace all odd numbers to -1 from previous array

In [63]:
arr_odd[:]=-1
arr_odd

array([-1, -1, -1, -1, -1])

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [65]:
arr = np.arange(10)
arr[5:9]=12
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12, 12,  9])

20. Create a 2d array with 1 on the border and 0 inside

In [72]:
arr_ones = np.ones((7,7))
arr_ones[1:-1,1:-1]=0
arr_ones

array([[1., 1., 1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1., 1., 1.]])

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [74]:
arr2d = np.array([[1, 2, 3],[4, 5, 6], [7, 8, 9]])
arr2d[1][1]=12
arr2d

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [75]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[0][:]=64
arr3d

array([[[64, 64, 64],
        [64, 64, 64]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [76]:
arr_2d = np.arange(10).reshape(2,5)
arr_2d[0,:]

array([0, 1, 2, 3, 4])

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [78]:
print(arr_2d)
arr_2d[1,1]

[[0 1 2 3 4]
 [5 6 7 8 9]]

6

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [86]:
arr2d = np.arange(9).reshape(3,3)
print(arr2d)
arr2d[0:2,-1:]

[[0 1 2]
 [3 4 5]
 [6 7 8]]

array([[2],
       [5]])

26. Create a 10x10 array with random values and find the minimum and maximum values

In [96]:
arr10 = np.random.randn(10,10)
print(arr10)
print(np.amin(arr10))
print(np.amax(arr10))

[[-0.17356676 -1.06837931 -0.63921055 -1.47456659  1.11385436 -0.85321066
   1.41707166  0.78383808 -0.19083847  0.80691631]
 [ 0.82730569  0.05775764 -0.24563921  1.84485245  0.03750533 -0.61827841
   0.81200097  1.52772798 -0.04570209  0.88679476]
 [-1.74781545  0.6467892   1.24058724 -2.17929656  0.85945841  0.56611144
   1.6730275   1.12121012 -0.13101022 -0.12329078]
 [ 1.34205824  0.99845328 -0.74731994  0.57025202  0.68762366  0.06437658
  -0.38712691  0.96353658 -0.83784245 -0.2896742 ]
 [ 0.01141723  1.84859658 -0.34151602  0.3515877  -0.99580777  0.26230376
  -0.9676026   1.28613477 -1.80611751 -1.36076278]
 [-0.62094114  0.13880315 -2.05573444  1.07662783 -0.60051237 -0.45272754
   1.04736692  1.35183421 -0.67173215 -0.65700394]
 [-0.882152    1.46768867 -0.35858745 -0.09758142  0.3040106   1.14977707
   0.0492953   0.49596534  0.15229895 -0.74071027]
 [-1.1152904  -1.19168694 -0.49246697  0.40963466  0.30733091  0.16846324
   1.38747629 -1.21652382 -0.01988218 -0.63710116]
 [-1.26057741 -0.10096627 -1.52831335  0.20605336 -0.07366344  0.22973291
   1.22721887 -0.04518145 -0.02673798 -0.63923968]
 [ 0.19180785 -0.27609053  1.10295905  0.27571279  0.09964802  0.00613657
  -0.98232274 -0.09114627  0.32432649  1.6588568 ]]
-2.1792965632084464
1.8485965830134208

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [94]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
np.intersect1d(a,b)

array([2, 4])

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [100]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
np.where(a==b)

(array([1, 3, 5, 7]),)

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [118]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)
print(data)
x=np.where(names!='Will')
print(x)

[[-0.66927369  0.3647989   0.66797574  0.58535643]
 [-0.22048696 -0.79679744  0.43687978  0.86865393]
 [-0.06883846 -1.63491084  0.44948178 -0.82615203]
 [-0.53664896 -0.63624569  1.1618478   0.45541899]
 [-1.92329514  0.15510509 -0.21483944  0.25298279]
 [-0.10618841  3.00108016 -0.10749933  0.06917207]
 [ 0.75209257 -1.55069347  1.34521775  0.48372283]]
(array([0, 1, 3, 5, 6]),)

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [120]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)
print(data)
y=np.where(names!=('Will'and'Joe'))
print(y)

[[-0.57938849 -0.1434739  -0.3616586  -0.05290094]
 [-0.37898511  0.7158721   1.92560018 -1.34387205]
 [ 0.90293135  0.08432526 -1.27537064 -0.78206838]
 [-0.92508915  0.86815599 -0.26130372  0.4333448 ]
 [-0.05693261  0.9886376  -0.48350871  1.01405898]
 [-0.976871   -1.22137988  0.99900173 -0.84409734]
 [-0.26061766 -0.60517905 -0.75044497 -0.7198589 ]]
(array([0, 2, 3, 4]),)

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [123]:
a = np.arange(1,16).reshape(5,3)
print(a)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]
 [13 14 15]]

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [124]:
b = np.arange(1,17).reshape(2,2,4)
print(b)

[[[ 1  2  3  4]
  [ 5  6  7  8]]

 [[ 9 10 11 12]
  [13 14 15 16]]]

33. Swap axes of the array you created in Question 32

In [139]:
np.swapaxes(b,1,2)

array([[[ 1,  5],
        [ 2,  6],
        [ 3,  7],
        [ 4,  8]],

       [[ 9, 13],
        [10, 14],
        [11, 15],
        [12, 16]]])

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [146]:
arr10 = np.sqrt(np.arange(10))
arr10[:][np.where(arr10<0.5)]=0
print(arr10)

[0.         1.         1.41421356 1.73205081 2.         2.23606798
 2.44948974 2.64575131 2.82842712 3.        ]

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [175]:
a1 = np.random.randn(12)
a2 = np.random.randn(12)
print(a1)
print(a2)
a1_max = np.amax(a1)
a2_max = np.amax(a2)
print(a1_max)
print(a2_max)
a3 = np.arange(a1_max,a2_max,1)
print(a3)

[ 0.03690877  1.58063925 -1.42626211 -0.82874419  0.36230251  0.03096061
 -0.84468395 -0.68513794 -0.50719013 -0.50887787 -0.70071793  1.30528733]
[-0.40312536 -0.39783443  0.86298956  1.57972884 -0.37884701  2.98119108
 -1.18396355  0.31417768  0.92586606  1.32269666 -0.46540401 -0.27736531]
1.5806392520525685
2.9811910824832193
[1.58063925 2.58063925]

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [177]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
unique_names = np.unique(names)
sorted_names = np.sort(unique_names)
print(sorted_names)

['Bob' 'Joe' 'Will']

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [181]:
a = np.array([1,2,3,4,5]) 
b = np.array([5,6,7,8,9])
c = np.setdiff1d(a,b)
print(c)

[1 2 3 4]

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [206]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])
newColumn = np.array([[10,10,10]])
new_array = np.delete(sampleArray,1,axis=1)
np.insert(new_array,1,newColumn,axis=1)

array([[34, 10, 73],
       [82, 10, 12],
       [53, 10, 66]])

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [207]:
x = np.array([[1., 2., 3.], [4., 5., 6.]]) 
y = np.array([[6., 23.], [-1, 7], [8, 9]])
np.dot(x,y)

array([[ 28.,  64.],
       [ 67., 181.]])

40. Generate a matrix of 20 random values and find its cumulative sum

In [210]:
matrix_rand = np.random.randn(20)
print(matrix_rand)
mat_cumsum = np.cumsum(matrix_rand)
print(mat_cumsum)

[-1.14695184  0.37530961 -0.63541612  0.01207673 -0.92233081 -0.02176586
  0.03196734  0.50465316 -0.26142592 -0.37712834  0.14216086 -0.14307117
  0.9509759  -1.01565348  0.4730021   1.7317727   0.46434347 -0.65475079
 -0.68942158 -0.94381963]
[-1.14695184 -0.77164223 -1.40705836 -1.39498162 -2.31731243 -2.33907829
 -2.30711096 -1.8024578  -2.06388371 -2.44101205 -2.29885119 -2.44192236
 -1.49094646 -2.50659994 -2.03359784 -0.30182514  0.16251833 -0.49223246
 -1.18165404 -2.12547367]